.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}

.header-content {
  padding-left: 24px;
  font-size: 18px;
  color: #fff;
}
